@model SefosRequestModel

<h1>Send Message Form</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Email">Avsändar-email:</label>
        <input id="email" asp-for="Email" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Subject">Ämne:</label>
        <input id="subject" asp-for="Subject" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Message">Meddelandekropp:</label>
        <textarea id="message" asp-for="Message" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="Attachment">Attach File:</label>
        <input type="file" id="Attachment" name="Attachment" class="form-control-file" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send Message" class="btn btn-primary" />
    </div>
</form>
