@*@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/form-validation.js"></script>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <form action="/Message/CreateMessage" method="post" enctype="multipart/form-data">
        <label for="email">Avsändar-email:</label>
        <input type="email" id="email" name="Email" required>
        <label for="subject">Ämne:</label>
        <input type="text" id="subject" name="Subject" required>
        <label for="message">Meddelandekropp:</label>
        <textarea id="message" name="Message" required></textarea>
        <label for="file">Attach File:</label>
        <input type="file" id="file" name="File">
        <button type="submit" id="sendButton">Skicka</button>
    </form>

</div>
*@

@model SefosRequestModel

<h1>Send Message Form</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Email">Avsändar-email:</label>
        <input id="email" asp-for="Email" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Subject">Ämne:</label>
        <input id="subject" asp-for="Subject" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Message">Meddelandekropp:</label>
        <textarea id="message" asp-for="Message" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="Attachment">Attach File:</label>
        <input type="file" id="Attachment" name="Attachment" class="form-control-file" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send Message" class="btn btn-primary" />
    </div>
</form>
